---
layout: ""
page_title: "hpegl_vmaas_dhcp_server Resource - vmaas-terraform-resources"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

-> Compatible version >= 5.2.13

# Resource hpegl_vmaas_dhcp_server

{{ .Description | trimspace }}
`hpegl_vmaas_dhcp_server` resource supports NSX-T DHCP Server creation.
For more information, see [Private cloud networking using VMware NSX-T](https://www.hpe.com/info/HPE-GreenLake-private-cloud-networking).

For creating an NSX-T DHCP Server, see the following examples.

## Example usage for creating NSX-T DHCP Server with all possible attributes

{{tffile "examples/resources/hpegl_vmaas_dhcp_server/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
