---
layout: ""
page_title: "hpegl_vmaas_instance Resource - vmaas-terraform-resources"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

-> Compatible version >= 5.2.4

# Resource hpegl_vmaas_instance

{{ .Description | trimspace }}

`hpegl_vmaas_instance` resource supports instance creation and cloning an existing
instance.

-> It is mandatory to choose the `template_id` while creating the instance of type 'vmware'
(for this purpose `hpegl_vmaas_template` can be used). If not, an error will be returned. This mandation
does not apply for other instance types (no error will be prompted in this case).

For creating an instance, use the following examples.

~> Volume name should be unique. An error is displayed  if the volume name is repeated.

Terraform will consider first volume as the primary volume. `root` attribute (computed field) will set to
root volume.

-> Deleting the root volume is not supported.

## Example usage for creating new instance with only required attributes

{{tffile "examples/resources/hpegl_vmaas_instance/minimal.tf"}}

-> `power` attribute is supported for `hpegl_vmaas_instance`, but only `poweron`  operation is supported
    while creating.

For creating snapshot use `snapshot` attribute. Any update in snapshot's `name` or `description`
will result in the creation of a new snapshot.

~> Reconfiguring an instance causes the snapshot to be deleted.

`is_snapshot_exist` field in `snapshot` will be true if the snapshot exists under an instance. Use
this field to identify whether snapshot got deleted (because of reconfigure or anything else).

-> Snapshot update, apply and delete is not supported yet.

## Example usage for creating new instance with all possible attributes

{{tffile "examples/resources/hpegl_vmaas_instance/all_options.tf"}}



{{ .SchemaMarkdown | trimspace }}
