---
layout: ""
page_title: "hpegl_vmaas_router_firewall_rule_group Resource - vmaas-terraform-resources"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

-> Compatible version >= 5.2.12

# Resource hpegl_vmaas_router_firewall_rule_group

{{ .Description | trimspace }}

-> Currently update of the hpegl_vmaas_router_firewall_rule_group is not supported.


## Example usage

{{tffile "examples/resources/hpegl_vmaas_router_firewall_rule_group/resource.tf"}}


{{ .SchemaMarkdown | trimspace }}
