---
layout: ""
page_title: "hpegl_vmaas_instance_clone Resource - vmaas-terraform-resources-clone"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

-> Compatible version >= 5.2.4

# Resource hpegl_vmaas_instance_clone

{{ .Description | trimspace }}


Create instance by cloning from an existing instance.

-> While cloning, only the source_instance_id, name and network is required. All other attributes are optional.
    If not provided, those attributes will be inherited from source instance.


Cloned instance can have all the possible attributes (same as `hpegl_vmaas_instance`) except for `port`.

## Example usage for creating cloned instance with minimal attributes.

{{tffile "examples/resources/hpegl_vmaas_instance_clone/minimal.tf"}}

-> On cloning an instance, the parent volume will be appended to the child volume. If the child volume
name is the same as the parent volume name, the duplicate volume name is used.


## Example usage for creating cloned instance with all available attributes.

{{tffile "examples/resources/hpegl_vmaas_instance_clone/all_options.tf"}}


{{ .SchemaMarkdown | trimspace }}
