---
layout: ""
page_title: "hpegl_vmaas_router_route Resource - vmaas-terraform-resources"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

-> Compatible version >= 5.2.12

# Resource hpegl_vmaas_router_route

{{ .Description | trimspace }}


## Example usage

{{tffile "examples/resources/hpegl_vmaas_router_route/resource.tf"}}


{{ .SchemaMarkdown | trimspace }}
