---
layout: ""
page_title: "{{.ProviderShortName}} Provider"
subcategory: ""
description: |-
  This is the hpegl (HPE GreenLake) terraform provider
---

# {{.ProviderShortName}} Provider

This is the hpegl (HPE GreenLake) terraform provider for use in managing HPE GreenLake
services.  The VMaaS service is currently supported.

Note that an API client must be used with this provider.  For information on how to
create an API client see [here](http://www.hpe.com/info/greenlakecentral-create-api-client).

The following env-vars can be used to supply API client creds and related information to
the provider:

```bash
export HPEGL_TENANT_ID=< tenant-id >
export HPEGL_USER_ID=< API client id >
export HPEGL_USER_SECRET=< API client secret >
export HPEGL_IAM_SERVICE_URL=< the "issuer" URL for the API client  >
```


## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
