---
layout: ""
page_title: "{{.ProviderShortName}} Provider"
subcategory: ""
description: |-
  This is the hpegl (HPE GreenLake) terraform provider
---

# {{.ProviderShortName}} Provider

This is the hpegl (HPE GreenLake) terraform provider for use in managing HPE GreenLake
services.

Current supported services:
- [VMaaS](https://github.com/HewlettPackard/hpegl-vmaas-terraform-resources)
- [Containers](https://github.com/HewlettPackard/hpegl-containers-terraform-resources)
- [Metal](https://github.com/HewlettPackard/hpegl-metal-terraform-resources)

This provider requires 64-bit versions of the terraform binary to work properly.

## API Client

Note that an API client must be used with this provider.  The provider supports two different types
of API Client corresponding to two different version of GreenLake IAM:
- [glcs](#glcs-API-Client)
- [glp](#glp-API-Client)

The version of IAM used by the provider is determined by the `HPEGL_IAM_VERSION` environment variable.
It can have two values corresponding to the two versions of IAM: `glcs` and `glp`. If the variable is not set,
the provider will default to `glcs`.

Note that most GreenLake installations use the `glcs` version of IAM.  The exceptions are "Disconnected"
installations which use the `glp` version of IAM.

At present only `metal` resources and data-sources are supported with the `glp` version of IAM.

### glcs API Client
For information on how to create a glcs API client see [here](http://www.hpe.com/info/greenlakecentral-create-api-client).

The following env-vars can be used to supply glcs API client creds and related information to
the provider:

```bash
export HPEGL_TENANT_ID=< tenant-id >
export HPEGL_USER_ID=< API client id >
export HPEGL_USER_SECRET=< API client secret >
export HPEGL_IAM_SERVICE_URL=< the "issuer" URL for the API client  >
```

### glp API Client
For information on glp API Clients see [here](https://developer.greenlake.hpe.com/docs/greenlake/services/#configuring-api-client-credentials)

The following env-vars can be used to supply glp API client creds and related information to
the provider:

```bash
export HPEGL_IAM_VERSION=glp
export HPEGL_USER_ID=< API client id >
export HPEGL_USER_SECRET=< API client secret >
export HPEGL_IAM_SERVICE_URL=< the "Token URL" for API clients, can be found on the API Client creation screen  >
```

Note that the `HPEGL_IAM_VERSION` environment variable must be set to `glp` to use the glp API client.


## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
