name: GitHub Actions CI

on: [push, pull_request]
jobs:
  ci:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        go: [ '1.24.1' ]
    name: Go ${{ matrix.go }} CI test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: go version
      - run: make build
      - run: make test
